*
  box-sizing border-box
  margin 0
  padding 0

body
  font-family sans-serif
  background white

a
  color #004F8E

.header
  text-align center
  padding 1em 2em
  background #60B5CC
  color #FFF

  &__title
    font-size 1.5em
