$color-dark-blueish-grey = #34495E
$color-dark-blueish-grey-2 = #607090
$color-light-blue = #60b5cc
$color-very-light-blue = #60bef0
$color-light-grey = #E0E0E0
$color-very-light-grey = #F9F9F9
$color-white = #FFFFFF
$color-green = #00FF00

$font-size-ultra = 9.6rem
$font-size-mega = 7,2rem
$font-size-boss = 4.8rem
$font-size-huge = 3.2rem
$font-size-large = 2.4rem
$font-size-subhead = 1.8rem
$font-size-head = 2rem
$font-size-base = 1.6rem
$font-size-small = 1.44rem

$space-tiny = .25em
$space-small = .5em
$space-normal = .75em
$space-large = 1.5em
$space-huge = 2.5em
$space-mega = 4em

$font-family-sans = 'Helvetica Neue', Arial, Tahoma, Verdana, sans-serif

$wrapped
  padding-left $space-large
  padding-right $space-large
  max-width 960px
  margin 0 auto
