$color-dark-blue = #34495E
$color-white = #FFFFFF

$font-size-ultra = 6rem
$font-size-mega = 4.5rem
$font-size-boss = 3rem
$font-size-huge = 2rem
$font-size-large = 1.5rem
$font-size-subhead = 1.125rem
$font-size-head = 1.25rem
$font-size-base = 1rem
$font-size-small = .9rem

$space-tiny = .25em
$space-small = .5em
$space-normal = .75em
$space-large = 1.5em
$space-huge = 2.5em
$space-mega = 4em

$font-family-sans = 'Helvetica Neue', Arial, Tahoma, Verdana, sans-serif

$wrapped
  padding-left $space-large
  padding-right $space-large
  max-width 960px
  margin 0 auto
