$header-height = 8rem
$footer-line-height = 2rem
$footer-height = 2 * $footer-line-height

.header
  height $header-height
  background $color-light-blue
  color $color-white
  text-align center

.nav
  @extend $wrapped
  display flex
  align-items center

  &__item
    color $color-dark-blueish-grey
    text-decoration none
    font-size $font-size-head
    padding $space-normal
    transition all .25s ease-out
    cursor pointer

    &:hover
    &--current
      color $color-white

    // logo
    &:first-child
      margin-right $space-normal
      padding $space-small $space-small $space-small $space-large
      background-image url('/svgs/elm-logo-mono.svg')
      background-repeat no-repeat
      background-size 3.6rem
      background-position 0 45%
      font-size $font-size-huge
      color $color-white
      text-decoration none

  &__item + &__item
    margin-left $space-small


$profile-img-width = 4rem

.signed-in-status
  color $color-dark-blueish-grey
  margin-left: 8rem

  img
    width $profile-img-width
    border-radius 2rem
    vertical-align middle
    margin-right $space-small

  img.auth-waiting
    width 2rem
    border-radius 0
    opacity .5

  .login-button
    background-color $color-light-grey
    color $color-dark-blueish-grey
    border none

    span
      margin-right .3rem

$profile-popup-menu-height = 7rem
$profile-popup-menu-width = 14rem
.profile-popup-menu
  border 1px solid $color-light-grey
  z-index 1
  background $color-very-light-grey
  position relative
  top 2.5rem
  left ($profile-popup-menu-width / 2 + $profile-img-width / 2)
  height $profile-popup-menu-height
  margin-bottom ((-1) * $profile-popup-menu-height)
  width $profile-popup-menu-width
  margin-left ((-1) * $profile-popup-menu-width)
  display flex
  flex-direction column
  justify-content center
  align-items center

  // individual items in profile popup menu
  & > *
    display block
    height 3.5rem
    line-height 3.5rem
    width 100%

  & > :not(:last-child)
    margin-bottom 0

  & a
    text-decoration none
    cursor pointer

  & a > span
    display inline-block

  & a > span:first-child
    width 25%
    text-align center

  & a > span:last-child
    width 75%
    text-align left

  .sign-out
    border-top 1px solid $color-light-grey


// push footer to bottom of page, if there is not enough content
.main
   min-height "calc(100vh - %s - %s - 3px)" % ($header-height $footer-height)

.footer
  width 100vw
  height $footer-height
  background-color $color-very-light-grey

.footer-line
  line-height $footer-line-height
  font-size ($footer-line-height / 1.5)
  text-align center
  padding-left .5rem
  padding-right .5rem
  white-space nowrap

  &:last-child
    border-top 1px solid $color-light-grey

  a
    color $color-dark-blueish-grey
    text-decoration none
    font-family "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif

  img
    height ($footer-line-height / 1.5)
    margin-right .3rem
