body
  @media $mq-up_to_S
    font-size 1.3rem
  @media $mq-S_to_M
    font-size 1.4rem
  @media $mq-M_to_L
    font-size 1.5rem
  @media $mq-L_and_up
    font-size 1.6rem

a
  color $color-dark-blue

.wrap
  @extend $wrapped

.main
  @extend $wrapped
  padding-top $space-large
  padding-bottom $space-large
