body
  @media $mq-up_to_L
    font-size 1.5rem
  @media $mq-L_and_up
    font-size 1.6rem

.btn.btn-primary
  background $color-dark-blueish-grey
  border-color $color-dark-blueish-grey

.btn
  border-color $color-dark-blueish-grey

.tab .tab-item a.active,
.tab .tab-item.active a
    color $color-dark-blueish-grey
    border-bottom-color $color-dark-blueish-grey

.tab .tab-item a:focus,
.tab .tab-item a:hover
    color $color-dark-blueish-grey-2

.wrap
  @extend $wrapped

.main
  @extend $wrapped
  padding-top $space-large
  padding-bottom $space-large

  // fix for spectre.css nested grid columns padding bug. Apply to ".column" div
  // if it has ".columns" elements as direct children.
  .column.has-nested-columns
    padding 0

  .form-group:not(:last-child)
    margin-bottom 1.6rem

  a
    color $color-dark-blueish-grey

