.profile-list

  ul
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-around
    align-content flex-start
    align-items flex-start
    list-style-type none
    padding 0
    margin 0

  li > a
    color $dark-grey
    text-decoration none
    width 24rem
    height 24rem
    display flex
    flex-direction column
    justify-content center
    align-items center
    border 1px solid $color-light-grey
    border-radius $space-small
    margin $space-normal
    background-color $color-very-light-grey
    &:hover
      background-color: $color-white

  img.profil-pic
    width 8rem
    border-radius $space-small
    margin-bottom 1rem


.profile-details
    display flex
    flex-direction column
    justify-content center
    align-items center

  img.profil-pic
    width 20rem
    border-radius 1rem
    margin-bottom 2rem

  & > div.row
    width 20rem
    margin .5rem
    position relative
    left 10rem

  & > div.row > span
    width 100%
    display inline-block
    text-align left

  & > div.row > label+span
    width calc(100% - 10rem)
    position relative
    left -10rem

  label
    display inline-block
    width 10rem
    position relative
    left -10rem
    text-align left
