.profile-list

  ul
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-around
    align-content flex-start
    align-items flex-start
    list-style-type none
    padding 0
    margin 0

  li > a
    color $dark-grey
    text-decoration none
    width 24rem
    height 24rem
    display flex
    flex-direction column
    justify-content center
    align-items center
    border 1px solid $color-light-grey
    border-radius $space-small
    margin $space-normal
    background-color $color-very-light-grey
    &:hover
      background-color: $color-white

  img.profil-pic
    width 8rem
    border-radius $space-small
    margin-bottom 1rem

.profile-pic-and-bio
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
    padding-right 2rem

.profile-details
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start

    a
      text-decoration none

    .green-icon .fa
      color $color-green

    @media $mq-S_and_up
      padding-left 3rem
      border-left 1px solid $color-light-grey

  .profile-biography
    margin-top 2rem

  img.profil-pic
    width 20rem
    border-radius 1rem
    margin-bottom 2rem

.edit-profile-form
  max-width $mq-s-width
  margin 0 auto

  .biography-preview-icon
    margin-right 2rem

  .biography-preview
    border 1px solid $color-light-grey
    overflow-y auto
    min-height 10rem
    max-height 30rem
